<div class="header">
  <h3 class="text-muted">chatty</h3>
</div>

<h4>Latest Chats:</h4>
<div class="jumbotron">

	<form>
		<input ng-model="newMessage" type="text" placeholder="Say Something!">
    <input ng-model="newUser" type="text" placeholder="UserName">
    <button ng-click="addMessage(newMessage, newUser)">submit</button>
	</form>

	<div ng-repeat="message in messages track by $index">User: {{message.user}} Says: {{ message.message }} : {{message.time | date: 'MM/dd/yyyy h:mm a'}}</div>


</div>
